@mixin overflow_ver($number) {
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin word_wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 14px;
}

a {
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

ul {
  list-style-position: inside;
}

ol {
  list-style-position: inside;
}

blockquote {
  padding: 0 8px;
  color: #6a737d;
  border-left: 4px solid #c4cacf;
}

textarea {
  resize: none;
  outline: none !important;
}
