@use "../../styles/global.scss" as util;

.register-page {
  &.container {
    min-height: calc(100vh - 49px - 58.75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    svg {
      margin-top: 60px;
      width: 60px;
      height: 60px;
    }
    flex-direction: column;
    .register-form {
      @include util.center;
      width: 100%;
      flex-direction: column;
      gap: 20px;
      .form-input {
        width: 100%;
      }
    }
  }
}
