@use "../../styles/global.scss" as util;

.order-detail-page {
  &.container {
    padding: 40px 0;
    min-height: calc(100vh - 49px - 58.75px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
